<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="head :: head"></div>

<body>


	<div th:replace="mainMenu :: mainMenu"></div>

	<div class="content">

		<form th:action="@{/view/add-serial}" method="post">
			<div>
				<label>Tytul: </label> <input type="text" name="title"
					th:value="${title}" />
			</div>

			<div>
				<label>Status:</label> <br />

			</div>
			<div>
				<label>Opis:</label> <br />
				<textarea style="width: 40%; height: 200px;" name="description"
					th:value="${description}"></textarea>
			</div>
			<div>
				<label>Czas trwania: </label> <input type="text"
					name="durationInSec" th:value="${durationInSec}" />
			</div>
			<div>
				<label>Link do oglądania: </label> <input type="text"
					name="linkToWatch" th:value="${linkToWatch}" />
			</div>
			<!-- <div>
				<select th:field="*{genre}" >
					<option th:each="genre : ${genre}"
						th:value="${genre}" th:text="${genre.description}"></option>
					
				</select>
			</div>-->
			<div style="margin:10px 0">
				<label style="margin-top: 5px;">Zdjęcie główne serialu: </label> <input
					name="thumbnail" type="file" />
			</div>

			<button type="submit">Dodaj serial</button>
		</form>
		<div id="message">[[${message}]]</div>
	</div>
	<div th:replace="footer :: footer"></div>
</body>

</html>