<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="head :: head"> </div>

<body>


    <div th:replace="mainMenu :: mainMenu"> </div>
    <div id="my-serials-view" class="content">
        Wszystkie moje seriale:
        <table border="0">
        <tr th:if="${serials.empty}">
        	<td colspan="4">Brak dodanych seriali</td>
        </tr>
        <tr th:each="serials : ${serials}">
        	<td><image th:src="${serials.thumbnail.url}" width="100" height="100"/></td>
        	<td><p th:text="${serials.title}"></p>
        	<p th:text="${serials.description}"></p></td>
        	<td> <a th:id="'serial-detail' + ${serials.id}" th:href="@{'/view/serial/' + ${serials.id}}" class="mybutton">Szczegoly</a></td>
        	</tr>
        
        </table> 

    </div>

    <div th:replace="footer :: footer"> </div>
</body>

</html>