<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="head :: head"></div>

<body>


	<div th:replace="mainMenu :: mainMenu"></div>
	<div class="content">


		<h1>M jak miłość</h1>
		<span style="font-size:22px; margin-top:10px">Sezon 1</span>
		<button type="submit" sec:authorize="hasRole('ROLE_ADMIN') OR hasRole('ROLE_PRODUCER')">Dodaj odcinek</button>
		<div class="episode">
			<h3>Odcinek 1 - "Dobrze w domu"</h3>
			<h4>Data emisji: 10.12.1998</h4>
			<p>Lorem ipsum dolor sit amet,
				consectetur adipiscing elit. Nulla sed posuere eros. Ut ac leo
				bibendum, fringilla nunc eu, sollicitudin magna. Etiam venenatis
				tristique felis, vitae fermentum ante tempus vel. Donec nisi nisl,
				euismod vitae bibendum efficitur, feugiat sit amet dui. Cras orci
				mi, malesuada id efficitur nec, scelerisque at mauris. Integer
				varius iaculis enim quis ultrices.</p>
			<button type="submit" sec:authorize="hasRole('ROLE_VIEWER')">Obejrzany</button>
			<button type="submit" sec:authorize="hasRole('ROLE_VIEWER')">Oglądaj teraz</button>
			<button type="submit" sec:authorize="hasRole('ROLE_ADMIN') OR hasRole('ROLE_PRODUCER')">Edytuj</button>
		</div>
	



	</div>

	<div th:replace="footer :: footer"></div>
</body>

</html>