<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="head :: head"></div>

<body>


	<div th:replace="mainMenu :: mainMenu"></div>
	<div class="content">

		<div style="float: left;">
			<image th:if="${thumbnailUrl != null}" th:src="${thumbnailUrl}"
				width="100" height="100" />
		</div>
		<span style="font-size: 32px; margin: 10px; float: left;"
			th:text="${serial.title}"></span> 
			
			<div th:if="${czyObejrzano == false}">
					<a sec:authorize="hasRole('ROLE_VIEWER')"
						th:href="@{'/view/addSeasonToWatched/' + ${serial.id} +'?context=' + 'season-detail'}"
						type="submit" class="mybutton">Dodaj do obejrzanych </a>

				</div>
				<div th:if="${czyObejrzano == true}">
					<a sec:authorize="hasRole('ROLE_VIEWER')"
						th:href="@{'/view/deleteSeasonFromWatched/' + ${serial.id}+'?context=' + 'season-detail'}"
						type="submit" class="mybutton">Usun z obejrzanych </a>
				</div>

				<div id="message" th:text="${message}"></div>
			
			<a th:href="@{'/view/serial/' + ${serial.id} + '/add-episode' }"
			sec:authorize="hasRole('ROLE_PRODUCER')" class="mybutton">Dodaj
			odcinek </a>
		<div style="clear: both;"></div>
		<div class="episode">
			<h1>Odcinki:</h1>
			<table style="margin-top: 30px;">
				<tr th:if="${episodes.empty}">
					<td colspan="5">Brak odcinków</td>
				</tr>
				<tr th:each="episode: ${episodes}">
					<td><image th:if="${episode?.thumbnail?.url == null}"
							th:src="@{/images/no_photo.jpg}" width="100" height="100" /> <image
							th:if="${episode?.thumbnail?.url != null}"
							th:src="${episode.thumbnail.url}" width="100" height="100" /></td>
					<td><p th:text="${episode.title}"></p> Data emisji: <span
						th:text="${episode.startDate}"></span>
						<p th:text="${episode.description}"></p></td>
					<td><a sec:authorize="hasRole('ROLE_VIEWER')" class="mybutton">Dodaj
							do obejrzanych </a> <a sec:authorize="hasRole('ROLE_VIEWER')"
						class="mybutton">Oglądaj teraz </a> <a
						sec:authorize="hasRole('ROLE_ADMIN') OR hasRole('ROLE_PRODUCER')"
						class="mybutton">Edytuj </a>

						<form
							sec:authorize="hasRole('ROLE_ADMIN') OR hasRole('ROLE_PRODUCER')"
							th:action="@{'/view/serial/' + ${serial.id} + '/delete'}"
							method="POST">
							<button type="submit">Usuń</button>
						</form></td>

				</tr>
			</table>

		</div>




	</div>

	<div th:replace="footer :: footer"></div>
</body>

</html>