<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="head :: head"></div>

<body>


	<div th:replace="mainMenu :: mainMenu"></div>
	<div class="content">


		<div class="serial">

			<div class="serial-general">
				<image th:if="${thumbnailUrl != null}" th:src="${thumbnailUrl}"
					width="100%" />

				<div class="follow-checkbox">
					<label> <input type="checkbox">Śledź
					</label>
				</div>
				<div th:if="${czyDodano == false}">
					<a
						th:href="@{'/view/addToMine/' + ${serial.id} +'?context=' + 'serial-detail'}"
						type="submit" class="mybutton">Dodaj do "moich" </a>

				</div>
				<div th:if="${czyDodano == true}">
					<a
						th:href="@{'/view/deleteFromMine/' + ${mySerial.id}+'?context=' + 'serial-detail'}"
						type="submit" class="mybutton">Usun z "moich" </a>
				</div>

				<div id="message2" th:text="${message2}"></div>
				<button type="submit" class="serial-button">Dodaj do
					obejrzanych</button>
				<button type="submit" class="serial-button">Strona
					producenta</button>
				<div style="margin-top: 30px;">
					<span style="font-size: 22px; ">Obsada:</span> <a style="margin-top:10px"
						sec:authorize="hasRole('ROLE_ADMIN') OR hasRole('ROLE_PRODUCER')"
						th:href="@{'/view/serial/' + ${serial.id}+'/actors'}" type="submit"
						class="mybutton">Konfiguruj obsade</a>
				</div>
				<div class="actors" th:each="actor : ${actors}">
					<figure>
						<img th:src="${actor.thumbnailUrl}" width="75" height="100" />
						<figcaption th:text="${actor.name} + ' '+ ${actor.surname}"></figcaption>

					</figure>
				</div>

			</div>

			<div class="serial-content">
				<h1 th:text="${serial.title}"></h1>
				<p th:text="${serial.description}"></p>
				<p>
					<b>Stan: </b><span th:text="${serial?.state?.displayName}"></span>
				</p>
				<p>
					<b>Czas trwania: </b><span th:text="${serial.durationInSec}"></span>
				</p>
				<p>
					<b>Ocena: </b><span th:text="${serial.rating}"></span>
				</p>
				<p>
					<b>Gatunek:</b> <span class="genres"
						th:each="genre : ${serial.genres}" th:text="${genre.name}"></span>
				</p>
				<button type="submit"
					sec:authorize="hasRole('ROLE_ADMIN') OR hasRole('ROLE_PRODUCER')">Edytuj</button>



				<h1>Sezony</h1>
				<table style="margin-top: 30px;">
					<tr th:if="${seasons.empty}">
						<td colspan="4">Brak sezonow</td>
					</tr>
					<tr th:each="seasons : ${seasons}">
						<td><image th:if="${seasons?.thumbnail?.url == null}"
								th:src="@{/images/no_photo.jpg}" width="100" height="100" /> <image
								th:if="${seasons?.thumbnail?.url != null}"
								th:src="${seasons.thumbnail.url}" width="100" height="100" /></td>
						<td><p th:text="${seasons.title}"></p>
							<p th:text="${seasons.description}"></p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="70"
									aria-valuemin="0" aria-valuemax="100" style="width: 70%">
									70%</div>
							</div></td>
						<td><a th:id="'season-detail' + ${seasons.id}"
							th:href="@{'/view/serial/' + ${serial.id}+'/season/' + ${seasons.id}}"
							class="mybutton">Szczegoly</a></td>

					</tr>
				</table>

				<div style="margin-top: 20px">
					<a
						sec:authorize="hasRole('ROLE_ADMIN') OR hasRole('ROLE_PRODUCER')"
						th:href="@{'/view/serial/' + ${serial.id} + '/add-season' }"
						class="mybutton">Dodaj sezon</a>
				</div>



				<h1>Komentarze</h1>
				<form th:action="@{'/view/serial/' + ${serial.id}}" method="post">
					<h3>Dodaj komentarz:</h3>
					<textarea style="width: 100%; height: 100px;" name="content"
						th:value="${content}"></textarea>
					<button type="submit">Dodaj komentarz</button>
				</form>
				<div id="message" th:text="${message}"></div>


				<h3>Wszystkie komentarze:</h3>
				<div class="comments" th:each="comment : ${serial.comments}">
					<div class="comment" th:if="${comment.accepted}==true">
						<i th:text="${comment.date}"></i> <b
							th:text="${comment.user.login}"></b> napisał:
						<p th:text="${comment.content}"></p>
					</div>

				</div>

			</div>
			<div style="clear: both"></div>
		</div>




	</div>

	<div th:replace="footer :: footer"></div>
</body>

</html>