<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="head :: head"></div>

<body>
	<div th:replace="mainMenu :: mainMenu"></div>
	<div id="playlist-view" class="content">

		<span style="font-size: 22px;">Elementy playlisty: </span> 
		<span style="font-size: 22px;" th:text="${playlist.name}"></span> 
	
		<table style="margin-top:30px;">
			<tr th:if="${playlistElements.empty}">
				<td colspan="4">Na tej playliscie nie ma żadnych elementów</td>
			</tr>
			<tr th:each="playlistElements : ${playlistElements}">
			
				<td><p th:text="${playlistElements.serialElement.title}"></p></td>
				<td><p th:text="${playlistElements.serialElement.elementType}"></p></td>	
				<td><p th:text="${playlistElements.serialElement.description}"></p></td>
	
				
				<td><a th:id="'serial-detail' + ${playlistElements.serialElement.id}"
				th:href="@{'/view/serial/' + ${playlistElements.serialElement.id}}" class="mybutton">Szczegóły</a></td>
		
		</tr>
		</table>
	</div>
	


	<div id="serials-view" class="content">
		<span style="font-size: 22px;">Wszystkie seriale</span>
		<table style="margin-top: 30px;">
			<tr th:if="${serials.empty}">
				<td colspan="4">Brak seriali</td>
			</tr>
			<tr th:each="serials : ${serials}">
				<td><image th:if="${serials?.thumbnail?.url == null}"
						th:src="@{/images/no_photo.jpg}" width="100" height="100" />
					<image th:if="${serials?.thumbnail?.url != null}"
						th:src="${serials.thumbnail.url}" width="100" height="100" /></td>
				<td><p th:text="${serials.title}"></p>
					<p th:text="${serials.description}"></p></td>
				<td><a th:id="'serial-detail' + ${serials.id}"
					th:href="@{'/view/serial/' + ${serials.id}}" class="mybutton">Szczegoly</a></td>
				
				
				<td><a th:id="'serial-detail' + ${serials.id}"
					th:href="@{'/view/playlists/' + ${playlist.id} + '/add-playlist-element-season/' + ${serials.id}}" class="mybutton">Sezony</a></td>
					
	
				
				<td>
				<form th:action="@{'/view/playlists/' + ${playlist.id} + '/add-playlist-element/' + ${serials.id}}" method="post">
					<button type="submit">Dodaj</button>
				</form>
				</td>

		
		
				
			</tr>
		</table>
	</div>
 
	<div th:replace="footer :: footer"></div>
</body>

</html>