<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="head :: head"> </div>

<body>

	
	<div th:replace="mainMenu :: mainMenu"> </div>
	<div id="container">

		<div class="starter-template">
			<h1 style="color:#4CAF50">System śledzenia seriali</h1>
			<h3>INŻYNIERIA SYSTEMÓW INFORMACYJNYCH</h3>
			<h4>Wydział Elektrotechniki Automatyki i Informatyki </h4>
			<h4>Politechnika Świętokrzyska</h4>

			<br/><br/>

			<h3>AUTORZY:</h3>
			<h4>Ambrolewicz Artur </h4>
			<h4>Barchan Piotr</h4>
			<h4>Bątkowska Karolina</h4>
			<h4>Brzeźnicki Daniel</h4>



			
		</div>

	</div>	

	<div th:replace="footer :: footer"> </div>
</body>

</html>