<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="head :: head"> </div>

<body>
    <div th:replace="mainMenu :: mainMenu"> </div>
    <div class="content">
        Welcome, <span th:text="${userLogin}"></span>

        <form th:action="@{/logout}" method="post">
            <button type="submit">Wyloguj</button>
        </form>

        <br/><br/>
        <image th:if="${thumbnailUrl != null}" th:src="${thumbnailUrl}" />
        <form th:action="@{/view/my-profile}" method="post" enctype="multipart/form-data">
            <label>Profilowe: </label>
            <input name="picture" type="file" />
            <button type="submit">Ustaw profilowe</button>
        </form>
        <form th:action="@{/view/my-profile/delete-thumbnail}" method="post">
            <button type="submit">Usuń</button>
        </form>


    </div>

    <div th:replace="footer :: footer"> </div>
</body>

</html>